@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        margin: 0;
        padding: 0;
        background: url('https://png.pngtree.com/background/20211215/original/pngtree-simple-colorful-glare-circular-abstract-light-effect-romantic-musical-note-background-picture-image_1452175.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wrapper {
        font-family:;
        position: relative;
        z-index: 1;
        background: linear-gradient(225deg,orchid,violet,white);
        opacity: 99%;
        max-width: 500px;
        margin: 100px auto 50px;
        margin-top: 150px;
        padding: 20px 35px 20px 35px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
        border-radius: 10px
    }

    .welcome-text p {
        font: 20px;
        font-size: larger;
        padding: 1px;
        text-align: center;
    }



    .welcome-text a {
        border: 1px solid #fff;
        padding: 10px 25px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 20px;
        display: inline-block;
        color: black;
    }

        .welcome-text a:hover {
            background: white;
            color: black;
        }
</style>

<header>
    <div class="wrapper">

        <div class="welcome-text">
            <h2> Welcome To <span>Sing ASong<span></h2>
            <p>A place where you can Own or Subscribe to the songs which pleases you</p>
            <a href="#">Explore More</a>
        </div>
</header>



