@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SingASong </h1>
    <p>A place where you can Own or Subscribe to the songs which pleases you</p>
</div>
