@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SingASong </h1>
    <p>A place where you can Own or Subscribe to the songs which pleases you</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Login">Listen now!!</a>
</div>
