@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

    body {
        margin: 0;
        padding: 0;
        background-image: url('../../wwwroot/lib/bgimg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background:;
    }

    form {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        z-index: 1;
        background: #ffffff;
        opacity: 99%;
        max-width: 400px;
        margin: 100px auto 50px;
        margin-top: 50px;
        padding: 10px 35px 20px 35px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
        border-radius: 10px
    }

        form p {
            font: 20px;
            font-size: larger;
            padding: 1px;
            text-align: center;
        }

        form input {
            outline: 0;
            border-radius: 10px;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

            form input:focus {
                background-color: thistle;
                transition: all ease-in 0s;
            }

            form input:hover {
                background-color: thistle;
                transition: all ease-in 0s;
            }

    .register {
        text-transform: capitalize;
        outline: 0;
        border-radius: 10px;
        background: purple;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
    }

    form input[type=button:hover], form input[type=button:active], form input[type=button:focus] {
        background-color: thistle;
        transition: all ease-in 0s;
    }

    #head {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
        font-style: oblique;
    }
</style>
<body>
    <header class="head"><h2><i><center>Sing A Song</center></i></h2></header>
    <form>
        <p>Register</p>
        <label for="name">Name:</label>
        <input type="text" class="name" id="name" required />
        <label for="email">Mail id:</label>
        <input type="email" required />
        <label for="mobile-number">Mobile Number:</label>
        <input type="tel" id="mobile-number" name="mobile_number" required>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>
        </div>
        <div class="area-district-name">
            <div class="form-group">
                <label for="area-name">Area :</label>
                <input type="text" id="area-name" name="area_name" required>
            </div>
            <div class="form-group">
                <label for="district-name">District :</label>
                <input type="text" id="district-name" name="district_name" required>
            </div>
        </div>
        <div class="state-pincode-name">
            <div class="form-group">
                <label for="state-name">State :</label>
                <input type="text" id="state-name" name="state_name" required>
            </div>
            <div class="form-group">
                <label for="pincode-name">Pincode :</label>
                <input type="text" id="pincode-name" name="pincode_name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="nationality">Nationality:</label>
            <select id="nationality" name="nationality" required>
                <option value="">Select Nationality</option>
                <option value="afghan">India</option>
                <option value="albanian">USA</option>
                <option value="algerian">Japan</option>
                <option value="algerian">Australia</option>

            </select>
        </div>

        <label for="Gender" class="gender" id="gender">Gender</label>
        <label for="male">
            Male
            <input type="radio" id="male" name="gender" value="Male" required />
        </label>
        <label for="female">
            Female
            <input type="radio" id="female" name="gender" value="Female" required />
        </label><br />
        <label for="Password">Create Password:</label>
        <input type="password" required />
        <div class="form-group">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm_password" required>
        </div>
        <div class="form-check">
            <label for="terms">I agree to the terms & conditions</label>
            <input type="checkbox" id="terms" name="terms" required>

        </div>
        <a href='@Url.Action("Thankyoupage","user")'>
            <input type="button" class="register" value="Register" />
        </a>

    </form>

</body>