@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<SingASongData.Models.Track>
@{
}
<a asp-controller="Cart" asp-action="Index" >Go to Cart</a>
<div class="row row-cols-1 row-cols-md-3">
    <!-- col start-->
    <div class="col mb-4">
        <!-- Single Entry Start-->
        <div class="card">
            <img class="card-img-top" src="~/Images/album/album.jpg"  alt="album track">
            <div class="card-body">
                <h5 class="card-title">Song Name</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Artist-1, Artist-2</h6>
                <p class="card-text">Album Name</p>
                <button class="btn btn-primary card-link">Add To Cart</button>
                <button class="btn btn-outline-primary card-link">Buy</button>
            </div>
        </div>

        <!-- Single Entry End-->
    </div>
    <!-- col end-->
    <!-- col start-->
    <div class="col mb-4">
        <!-- Single Entry Start-->
        <div class="card">
            <img class="card-img-top" src="~/Images/album/album.jpg"  alt="album track">
            <div class="card-body">
                <h5 class="card-title">Song Name</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Artist-1, Artist-2</h6>
                <p class="card-text">Album Name</p>
                <button class="btn btn-primary card-link">Add To Cart</button>
                <button class="btn btn-outline-primary card-link">Buy</button>
            </div>
        </div>

        <!-- Single Entry End-->
    </div>
    <!-- col end-->
    <!-- col start-->
    <div class="col mb-4">
        <!-- Single Entry Start-->
        <div class="card">
            <img class="card-img-top" src="~/Images/album/album.jpg" alt="album track">
            <div class="card-body">
                <h5 class="card-title">Song Name</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Artist-1, Artist-2</h6>
                <p class="card-text">Album Name</p>
                <button class="btn btn-primary card-link">Add To Cart</button>
                <button class="btn btn-outline-primary card-link">Buy</button>
            </div>
        </div>

        <!-- Single Entry End-->
    </div>
    <!-- col end-->
    <!-- col start-->
    <div class="col mb-4">
        <!-- Single Entry Start-->
        <div class="card">
            <img class="card-img-top" src="~/Images/album/album.jpg" alt="album track">
            <div class="card-body">
                <h5 class="card-title">Song Name</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Artist-1, Artist-2</h6>
                <p class="card-text">Album Name</p>
                <button class="btn btn-primary card-link">Add To Cart</button>
                <button class="btn btn-outline-primary card-link">Buy</button>
            </div>
        </div>

        <!-- Single Entry End-->
    </div>
    <!-- col end-->
    <!-- col start dyn-->
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card">
                <img class="card-img-top" src="~/Images/album/album.jpg" alt="album track">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        @foreach (var artist in item.Artists)
                        {
                            @artist 
                        }
                    </h6>
                    <p class="card-text">@item.Album</p>
                    <button class="btn btn-primary card-link">Add To Cart</button>
                    <button class="btn btn-outline-primary card-link">Buy</button>
                </div>
            </div>
        </div>
     }

    

        <!-- Single Entry End-->
</div>