@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p class="text-muted">It's really good, you are making the move</p>
<form>
    <div class="form-group row">
        <label for="TrackId" class="col-sm-2 col-form-label">TrackID</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="TrackID" placeholder="1" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Name" placeholder="Name Abba">
        </div>
    </div>
    <div class="form-group row">
        <label for="Artist(s)" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Artist(s)" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="Genre" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Genre" placeholder="">
        </div>
    </div>
</form>