@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<SingASongData.Models.Track>
@{
}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        
        @foreach (var track in Model)
        {
            <div class="card">
                <div class="row">
                    <div class="col col-lg-4">
                        <img src="~/Images/album/album.jpg" class="p-1" width="100%" height="100%" alt="Song">
                    </div>
                    <div class="col col-lg-7">
                        <p class="text-primary">@track.Name</p>
                        <p class="text-muted">
                            @foreach (var artist in track.Artists)
                            {
                                @artist 
                            }
                        </p>
                        <p class="text-muted">@track.Album</p>
                    </div>
                    <div class="col col-lg-1 align-items-center">
                        <input type="checkbox" id="TackId">
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- Entry dyn-->
   
    
    <div id="admin-actions" class="d-flex justify-content-evenly p-4">
        <button type="submit" class="btn btn-primary">Add Song</button>
        <button type="submit" class="btn btn-warning">Edit/Update Song</button>
        <button type="submit" class="btn btn-danger">Delete Selected Songs</button>
            
    </div>
</div>