@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <select class="form-select" aria-label="Default select example">
                <option disabled selected>Please Select the Report Type</option>
                <option value="SubscriptionReport">Subscribers Report</option>
                <option value="PurchaseReport">Purchase Report</option>
            </select>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Month</th>
                <th scope="col">year</th>
                <th scope="col">Subscribers Count</th>
                <th scope ="col">Revenue Generated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jan</td>
                        <td>2024</td>
                        <td>6</td>
                        <td>35000</td>
                    </tr>
                    <tr>
                        <td>Dec</td>
                        <td>2023</td>
                        <td>6</td>
                        <td>40000</td>
                    </tr>
                    <tr>
                        <td>Nov</td>
                        <td>2023</td>
                        <td>6</td>
                        <td>45000</td>
                    </tr>
                    <tr>
                        <td>Oct</td>
                        <td>2023</td>
                        <td>6</td>
                        <td>50000</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>