@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SingASong.Models.ViewModels.CartContents
@{
}



<div class="list-group">
    @foreach (var item in Model.items)
    {
        <div class="list-group-item d-flex justify-content-between">

                <span class="title text-primary"> @item.Name</span>
                <span class="price text-muted"> Price : Rs@(item.Price - item.Discount)</span>
                <a class="btn btn-danger">Remove</a>
            
            @* <div class="cart-item-info">

                <h3>@item.Name</h3>

                <p>Price: <span>@item.Price</span></p>

                @if (item.Discount > 0)
                {

                    <p class="discounted">Discounted Price: Rs.@(item.Price-item.Discount)</p>
                }

            </div> *@

            

        </div>
    }
    


    <!-- End Cart items -->
    <!-- Cart summary -->

    <div class="cart-summary">

        <span>Total Items: @Model.items.Count()</span>

        <span>Total Amount: Rs.@Model.CartPrice</span>

    </div>

    <!-- Coupon section -->

    <div class="coupon-section">

        <input type="text" class="coupon-input" placeholder="Enter Coupon Code">

        <button class="btn btn-outline-primary">Apply Coupon</button>

    </div>

    <!-- End Cart summary -->
    <!-- Cart actions -->

    <div class="cart-actions">

        <a class="btn btn-outline-warning" asp-controller="Home" asp-action="Shop">Continue Shopping</a>

        <a class="btn btn-primary" asp-controller="Cart" asp-action="Payment" asp-route-UserID="31">Checkout</a>

    </div>

    <!-- End Cart actions -->

</div>

