@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<style>
    
    .songheader{
        width:400px;
        height:50px;
        text-align:center;
        
        border-radius:10px 10px;
        background-color:black;
        color:white;
        margin:auto;
        
    }
    .songinfo {
        height: 200px;
        width: 400px;
        background-color: aquamarine;
        margin:auto;
        border-radius: 10px 10px;
        text-align: center;
        

    }
    body{
        background-image:url(photo.JPG);

    }
</style>
<body style="background-color:slategray">

</body>

<div class="songheader">
 
<h2>Song Information</h2>
</div>

<div class="songinfo">
    <h4>Sooreede(From salaar</h4>
    <h6>Artist 1 ,Artist 2, Artist 3</h6>
    <h6>Release Year:2023</h6>
    <h6>Duration: 4min:30s</h6>
    
    
    
</div>

