@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    }
   <table class="table table table-bordered table-striped text-center" ">
    <tbody>
        <tr rowspan="2">
            <td colspan="2">
                <img src="~/Images/austinneil.jpg" class="rounded-circle img-fluid" style="width:150px;">
            </td>
        </tr>
        <tr>
            <td>
                <h5 class="my-3">Agent Vikram</h5>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary"> Subscriptions</button>
                <button class="btn btn-outline-primary">Downloads</button>
            </td>
        </tr>
        <tr><td>
                <i class="fa-solid fa-house"> Perungudi</i>
        </td></tr>
    </tbody>
</table>